H1{
    text-align: center;
    text-transform: capitalize;
    border: 2px solid teal;
    border-radius: 10px;
    color: rgb(233, 14, 196);
    background-color: rgb(240, 232, 232);
   
    
} 

body {
    background-color:#4682B4
}

